.detailWrapper{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.detail{
    width: 60vw;
}

.detailImg img{
    width: 100%;
    object-fit: cover;
}

.detailText p{
    font-weight: 300;
}